<!DOCTYPE html>
<html>
<head>
    <title>Let's play a game</title>
</head>
<body>
    <form action="/madlib">
        <div>
            Name a person: <input type="text" name="person">    
        </div>
        <br>
        <div>
            Choose a color:
            <select name="color">
                <option value="blue">Blue</option>
                <option value="red">Red</option>
                <option value="orange">Orange</option>
                <option value="lavender">Lavender</option>
                <option value="flourescent beige">Flourescent beige</option>
            </select>
        </div>
        <br>
        <div>
            Choose an adjective 
            <input type="radio" name="adjective" value="wonderful">Wonderful
            <input type="radio" name="adjective" value="super gross">Super gross
            <input type="radio" name="adjective" value="alright">Alright
            <input type="radio" name="adjective" value="steamy">Steamy
            <input type="radio" name="adjective" value="delicious">Delicious 
            
        </div>
        <br>    
        <div>
            Choose a noun 
            <select name="noun">
                <option value="plate">Plate</option>
                <option value="toad">Toad</option>
                <option value="loofah">Loofah</option>
                <option value="snuggie">Snuggie</option>
                <option value="heelies">Heelies</option>
            </select>      
        </div>
        <br>
        <div>
            Choose a place 
            <input type="radio" name="place" value="hackbright lab">Hackbright Lab
            <input type="radio" name="place" value="san francisco">San Francisco
            <input type="radio" name="place" value="living room">Living Room
            <input type="radio" name="place" value="amusement park">Amusement Park
            <input type="radio" name="place" value="restroom">Restroom
            
        </div>
        <br>
        <div>
            <input type="submit">
        </div>
    </form>
</body>
</html>